@-moz-document domain("to-do.microsoft.com") {
  /* Modals */
  .ms-Dialog-main {
    box-shadow: none;
  }

  .button.plain:hover{
    background: none;
  }

  /* Input Colors */
  #baseAddInput-addTask,
  #baseAddInput-addStep,
  #baseAddInput-addList{
      color: #d6d6d6;
  }

  /* Appbar Buttons */
  #owaToDoButton div span,
  #owaSettingsButton div span,
  .whatsNewCharm.o365sx-button i,
  /* List Item Text */
  .listItem-container.active div div .listItem-title .listItem-titleParsed span{
    color: #000 !important;
  }

  /* Emoji */
  .emoji.medium,
  .listItem-container.active .emoji.medium,
  /* Task */
  .taskItem.selected .taskItem-body,
  /* Steps in Task Details */
  .step.selected,
  /* User Avatar Toolbar Right Corner */
  #O365_MainLink_Me:not(.o365sx-activeButton),
  #owaToDoButton:not(.o365sx-activeButton),
  #owaSettingsButton:not(.o365sx-activeButton),
  .whatsNewCharm.o365sx-button:not(.o365sx-activeButton){
    background-color: transparent !important;
  }


  #app,
  /* Office 365 Apps */
  #appLauncher,
  /* My Account */
  #O365fpcontainerid,
  /* Search in Appbar */
  #toDoSearchBox_container,
  /* User Avatar Appbar Right Corner */
  #O365_HeaderRightRegion,
  /* Help Button Appbar */
  #owaToDoButton,
  /* Setting Button Appbar */
  #owaSettingsButton,
  /* Announcement Toolbar Button */
  .whatsNewCharm.o365sx-button,
  /* Suggestion Sidebar */
  .ms-Panel-main,
  /* Modals */
  .ms-Dialog-main.modal,
  /* Context Menus */
  .ms-ContextualMenu-Callout,
  /* Sort Menu */
  .popover.bottom{
    filter: invert(0.93);
  }

  /* App Launcher --------------------------- */

  /* Links */
  .OnUCasaPYqgO7yhEzsyuC,
  .qXtKVA0JDCaTuFL6XJNLA,
  .AEPGHdAvYHd9zEd_3gO6s:hover ._25rvrJdB6X_ovt33L8OiwD._3klUQuUGmmujRe-cBHlOcX,
  /* Icons */
  .ms-svg-Icon,

  /* Appbar --------------------------------- */

  /* User Avatar */
  ._1fH43YlMAnPCr8RI9qH98P,
  /* Search Bar */
  .searchToolbar-icon.search,
  .searchToolbar-inputWrapper i,

  /* Sidebar -------------------------------- */

  /* Hamburger */
  .menu i,
  /* List Icon */
  .listItem-icon i,
  /* List Item Count */
  .listItem-count,
  /* Add Group at the Bottom */
  .addGroup-icon,
  /* New List */
  #baseAddInput-addList,

  /* Todo Section --------------------------- */

  /* Actions above List */
  .toolbarButton-inner,
  /* Title of the List */
  .listTitle,
  /* Task List Title Edit Input */
  .tasksToolbar-titleItem input,
  /* Task Checkbox */
  .checkBox,
  /* Task Info */
  .taskItemInfo-date,
  .taskItemInfo-myDay,
  /* Task Imporatant Star */
  .importanceButton,
  /* Add Icon in List Add & Task Add */
  .baseAdd-icon,
  /* Task Input */
  #baseAddInput-addTask,

  /* Task Details ---------------------------- */

  /* Step Add Button */
  .baseAdd-button,
  /* Details Tiles */
  .section-item.isSet button,
  /* Add Step */
  #baseAddInput-addStep,

  /* Announcements --------------------------- */

  /* Mac Todo Image */
  .macAppUpsellCard img,
  /* Button & Social Media Icons */
  .macAppUpsellCard-text a,


  /* Today Suggestion ------------------------ */

  .addSuggestionButton,
  .moreEntriesButton,
  .sidePanel-header .backButton,

  /* Help ------------------------------------ */

  /* Links in Settings & Help */
  .settingsSection-body a,
  /* Sync Now Button */
  .sync-wrapper button,

  /* Settings -------------------------------- */

  /* Wunderlist Icon */
  .icon.svgIcon.wunderlist-24.wunderlist-24-red,
  /* Import Button */
  .button.blue.importer-button,
  /* Toggle Switch */
  .ms-Toggle.is-checked div button,
  /* Todo Logo */
  .settingsAboutSection-logo,
  .button.plain,

  /* My Account ------------------------------ */

  /* Links */
  #meControlLinks,

  /* Misc ------------------------------------ */

  /* Emojis */
  .emoji.small,
  .emoji.medium,
  /* Drag Preview */
  .dragPreview,
  /* Calender Menu Save Button */
  .custom-actions button,
  /* List Theme Picker Color*/
  .themePicker-color,
  /* Modal */
  .modal-footer .button-group .button.red,
  /* Share Invitaion Modal Button */
  .button.loadingButton.createShareLink{
    filter: invert(1);
  }
}
