@-moz-document domain("to-do.microsoft.com") {
  /* Modals */
  .ms-Dialog-main {
    box-shadow: none;
  }

  /* Emoji */
  .listItem-container.active .emoji.medium,
  .emoji.medium{
    background-color: transparent !important;
  }

  /* User Avatar Toolbar Right Corner */
  #O365_MainLink_Me:not(.o365sx-activeButton){
    background-color: #ff8728 !important;
  }

  /* Task List Task */
  .taskItem.selected .taskItem-body,
  /* Steps in Task Details Sidebar */
  .step.selected {
    background-color: #12121212;
  }

  #app,
  #appLauncher,
  #O365fpcontainerid,
  #toDoSearchBox_container,
  /* User Avatar Toolbar Right Corner */
  #O365_HeaderRightRegion,
  /* Suggestion Sidebar */
  .ms-Panel-main,
  /* Modals */
  .ms-Dialog-main.modal,
  /* Context Menus */
  .ms-ContextualMenu-Callout,
  /* Sort Menu */
  .popover.bottom{
    filter: invert(0.93);
  }

  /* Task List Title Edit Input */
  .tasksToolbar-titleItem input,
  /* Emojis */
  .emoji.small,
  .emoji.medium,
  /* Today Suggestion Container */
  .addSuggestionButton,
  .moreEntriesButton,
  .sidePanel-header .backButton,
  /* Drag Preview */
  .dragPreview,
  /* Calender Menu Save Button */
  .custom-actions button,
  /* List Item Count */
  .listItem-count,
  /* Task Info */
  .taskItemInfo-date,
  .taskItemInfo-myDay,
  /* Task Details Pane Section */
  .section-item.isSet button,
  /* User Avatar */
  ._1fH43YlMAnPCr8RI9qH98P,
  /* Link in App Launcher */
  .OnUCasaPYqgO7yhEzsyuC,
  .qXtKVA0JDCaTuFL6XJNLA,
  /* Menu Hamburger */
  .menu i,
  /* Task Checkbox*/
  .checkBox,
  /* Title of the List in App */
  .listTitle,
  /* Icons in Apps */
  .ms-svg-Icon,
  /* Add Icon in List Add */
  .baseAdd-icon,
  /* Add Group at the Bottom of Sidebar */
  .addGroup-icon,
  /* List Icon Sidebar */
  .listItem-icon i,
  /* List Theme Picker Color*/
  .themePicker-color,
  /* Important Star in Tasks */
  .importanceButton,
  /* Actions above List */
  .toolbarButton-inner,
  .ms-Icon.ms-Icon--BulletedList2,
  /* Search Bar */
  .searchToolbar-icon.search,
  .searchToolbar-inputWrapper i,
  .baseAdd-button,
  /* Modal */
  .modal-footer .button-group .button.red,
  /* My Account Links */
  #meControlLinks,
  #baseAddInput-addList,
  #baseAddInput-addTask,
  #baseAddInput-addStep {
    filter: invert(1);
  }
}
